<!DOCTYPE html>
<html>
<head>
<style>
    input[type=text], select{
        width: 100%,
        paddinf: 12px 20px,
        margin: 8px 0,
        display: inline-block,
        border: 1px solid #ccc,
        border-radius: 4px,
        box-sizing: border-box
    }
</style>
<title>Employee Information Form</title>
</head>
<body>
<h1>Employee Information Form</h1>

<form action="/Employee_Details" method="post">
    <label name='name'>Name: </name> <br>   
    <input type="text" name="name" placeholder="Name">
    <br><br>

    <label name='gender'>Gender: </name> <br>   
    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Male</label>
    <br>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label>
    <br><br>

    <label name='job_title'>Job Title: </name> <br>   
    <input type="text" name="job_title" placeholder="Job Title">
    <br><br>

    <label name='department'>Department: </name> <br>   
    <input type="text" name="department" placeholder="Department">
    <br><br>

    <label name='email'>Email: </name> <br>   
    <input type="email" name="work_email_address" placeholder="Work Email Address">
    <br><br>

    <label name='salary'>Salary: </name> <br>   
    <input type="text" name="salary" placeholder="Salary">
    <br><br>

    <input type="submit" value="Submit">

</form>
</body>
</html>