<!DOCTYPE html>
<html>
<head>
<title>Employee Information Form</title>
</head>
<body>
<h1>Employee Information Form</h1>

<form action="/users/add_new_user" method="post">
    
    <label name='first_name'>First Name: </name> <br>   
    <input type="text" name="first_name" placeholder="First Name">
    <br><br>

    <label name='last_name'>Last Name: </name> <br>   
    <input type="text" name="last_name" placeholder="Last Name">
    <br><br>

    <label name='mail'>Email id: </name> <br>   
    <input type="mail" name="mail_address" placeholder="Mail Address">
    <br><br>

    <label name='city'>City: </name> <br>   
    <input type="city" name="city" placeholder="City">
    <br><br>
    
    <label name='role'>Role: </name> <br>   
    <input type="text" name="role" placeholder="Role">
    <br><br>
    
    <label name='phone number'>Phone: </name> <br>   
    <input type="text" name="phone_number" placeholder="Phone Number">
    <br><br>

    <label name='salary'>Salary: </name> <br>   
    <input type="text" name="salary" placeholder="Salary">
    <br><br>

    
    <input type="submit" value="Submit">
</form>
</body>
</html>