<html>
<head>
<title>make_Response() method & http response Codes</title>
</head>
<body> 
    <h1>Make Response page called</h1>
    <h3> more about the http_response code:
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status" target= _blank>Click hear</a>

    <p style="color:DodgerBlue">make_response() accepts a string as a parameter, then creates and returns a response object. Using this response object, we can add our very own custom headers. We can also change the existing properties as per our needs ie we can change the http request number.</p> 
</body>
</html>